<header class="main-header">
  <div>
    <nav>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" i18n>Início</a>
    </nav>
  </div>
  @if (isAuthenticated()) {
  <div>
    <mat-form-field class="header-field" appearance="outline" subscriptSizing="dynamic">
      <mat-label i18n>Buscar tickets</mat-label>
      <input
        matInput
        [(ngModel)]="searchTerm"
        (keydown)="onSearchKeydown($event)"
        i18n-placeholder
        placeholder="Pressione Enter para buscar"
      />
      <mat-icon matPrefix fontIcon="search"></mat-icon>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="header-field status-field" appearance="outline" subscriptSizing="dynamic">
      <mat-label i18n>Status</mat-label>
      <mat-select [(ngModel)]="selectStatus" (ngModelChange)="onChange($event)" [compareWith]="compareStatus">
        @for (status of statuses; track status.id) {
          <mat-option [value]="status">{{ status.name | normalize }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button class="btn" matButton (click)="openCreateTicketDialog()">
      <mat-icon fontIcon="assignment"></mat-icon><span i18n>Novo ticket</span>
    </button>
  </div>
  }
  <div class="grow-space"></div>
  @if (isAuthenticated()) {
  <div class="user-menu">
    <app-notification></app-notification>
  </div>
  <div class="user-menu">
    <button matButton [matMenuTriggerFor]="menu">
      <mat-icon fontIcon="menu"></mat-icon><span i18n>Menu</span>
    </button>
    <mat-menu #menu="matMenu" class="menu-panel">
      <button mat-menu-item [routerLink]="'/account/settings'">
        <mat-icon fontIcon="person"></mat-icon><span i18n>Conta</span>
      </button>
      <button mat-menu-item *role="'admin'" [routerLink]="'/users'">
        <mat-icon fontIcon="group"></mat-icon><span i18n>Usuários</span>
      </button>
      <div class="divider" *role="'project-manager'"></div>
      <button mat-menu-item *role="'project-manager'" [routerLink]="'/workflows'">
        <mat-icon fontIcon="handyman"></mat-icon><span i18n>Processos</span>
      </button>
      <button mat-menu-item *role="'project-manager'" [routerLink]="'/projects'">
        <mat-icon fontIcon="work"></mat-icon><span i18n>Projetos</span>
      </button>
      <div class="divider"></div>
      <button mat-menu-item (click)="logout()">
        <mat-icon fontIcon="logout"></mat-icon><span i18n>Sair</span>
      </button>
    </mat-menu>
  </div>
  } @else {
  <div class="user-menu">
    <button matButton [routerLink]="'/login'">
      <mat-icon aria-hidden="false" aria-label="Entrar" fontIcon="login"></mat-icon>
      <span i18n>Acessar</span>
    </button>
  </div>
  }
</header>
<main class="container">
  <router-outlet />
</main>
<footer class="main-footer">
  <div i18n>© 2026 Issues. Todos os direitos reservados.</div>
  <div><a href="/openapi" target="_blank" i18n>Documentação da API</a></div>
</footer>
