<span
  class="project-menu-trigger"
  [matTooltip]="'shell.noProjects' | transloco"
  [matTooltipDisabled]="hasProjects()">
  <button
    type="button"
    class="btn btn-compact btn-header"
    matButton="outlined"
    [matMenuTriggerFor]="hasProjects() ? projectsMenu : null"
    [disabled]="!hasProjects()"
    [attr.aria-label]="'shell.projects' | transloco">
    <mat-icon fontIcon="work" aria-hidden="true"></mat-icon>
    <span>{{ 'shell.projects' | transloco }}</span>
  </button>
</span>
<mat-menu #projectsMenu="matMenu" class="menu-panel">
  @for (project of projects; track project.id) {
    <a mat-menu-item [routerLink]="kanbanLink(project)">
      <mat-icon matMenuItemIcon fontIcon="view_kanban"></mat-icon>
      <span>{{ project.name }}</span>
    </a>
  }
  @if (canManageProjects()) {
    <div class="divider"></div>
    <a mat-menu-item routerLink="/projects">
      <mat-icon matMenuItemIcon fontIcon="settings"></mat-icon>
      <span>{{ 'shell.manageProjects' | transloco }}</span>
    </a>
  }
</mat-menu>
